
.container {
    @apply bg-bg-light w-[100wh] h-[10vh] max-sm:h-[7vh] flex
    items-center px-[15px] justify-between
}

.title {
    @apply text-light text-[28px] max-sm:text-[18px] font-semibold w-fit h-fit
}

.icons {
    @apply flex justify-between max-sm:justify-end max-sm:space-x-2 items-center pr-[50px] max-sm:pr-[5px] w-[200px] max-sm:w-[100px]
}

.account {
    @apply w-[30px] max-sm:w-[20px]
    duration-150 ease-in-out hover:scale-[1.2] hover:cursor-pointer hover:opacity-50
    hover:shadow-xl
    active:opacity-90
}

.family {
    @apply w-[30px] max-sm:w-[20px]
    duration-150 ease-in-out hover:scale-[1.2] hover:cursor-pointer hover:opacity-50
    hover:shadow-xl
    active:opacity-90
}

.utils {
    @apply w-[30px] max-sm:w-[20px]
    duration-150 ease-in-out hover:scale-[1.2] hover:cursor-pointer hover:opacity-50
    hover:shadow-xl
    active:opacity-90
}

.utilslock {
    @apply w-[30px] opacity-50
}

.button {
    @apply w-[100px] max-sm:w-[60px] h-[35px] rounded-[12px] text-center text-txt max-sm:text-[12px]
    duration-150 ease-in-out hover:scale-[1.2] hover:cursor-pointer hover:opacity-50
    hover:shadow-xl hover:bg-bg-mid
    active:opacity-90
}

.lock {
    @apply w-[100px] max-sm:w-[60px] h-[35px] rounded-[12px] text-center text-txt max-sm:text-[12px]
    scale-[1.2] max-sm:scale-[1.1] hover:cursor-pointer opacity-50 bg-bg-mid
    shadow-xl
}
 
.accountPanel {
    @apply w-[350px] max-sm:w-[300px] h-[180px] max-sm:h-[150px] bg-bg-mid shadow-2xl rounded-[12px]
    border-2 border-solid border-light py-[20px]
}

.infoParagraph {
    @apply text-txt font-semibold text-[16px] max-sm:text-[14px] text-center
}

.idParagraph {
    @apply text-bg font-bold text-[10px] max-sm:text-[8px] text-center
}

.familyPanel {
    @apply w-[350px] max-sm:w-[300px] h-fit max-h-[380px] bg-bg-mid shadow-2xl rounded-[12px]
    border-2 border-solid border-light py-[20px] overflow-auto
}

.relativesParagraph {
    @apply text-txt text-[14px] max-sm:text-[12px] text-center
}

.optionsPanel {
    @apply bg-bg-mid w-[200px] max-sm:w-[150px] h-fit shadow-2xl rounded-[12px]
    border-2 border-solid border-light py-[20px]
}
