@import "tailwindcss";

@tailwind utilities;
@theme {
    --color-bg: #BFFCFF;
    --color-bg-mid: #A6EFF3;
    --color-bg-dark: #8AD3D7;
    --color-main-green: #14696D;
    --color-dark-green: #003739;
    --color-light-green: #A6EFF3;
    --color-dark-blue: #000767;
    --color-main-blue: #666FCA;
    --color-light-blue: #9BA4FF;
    --color-light-red: #FFB4A8;
    --color-main-red: #EF0000;
    --color-dark-red: #410000;
    --color-light-yellow: #FFEFD0;
    --color-main-yellow: #F5BF00;
    --color-dark-yellow: #594400;
    --color-sec-main-green: #53A252;
    --color-sec-light-green: #A3F69C;
    --color-sec-dark-green: #005312;
    --color-bg-blue: #F1EFFF;

    --font-mt: "Montserrat";
}

